[project]
	description = EDK II
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michael Kinney (mdkinney)
[access "refs/for/refs/*"]
	read = group user/Michael Kinney (mdkinney)
	push = group user/Michael Kinney (mdkinney)
	label-Code-Review = -2..+2 group user/Michael Kinney (mdkinney)
	label-Verified = -1..+1 group user/Michael Kinney (mdkinney)
	rebase = group user/Michael Kinney (mdkinney)
	removeReviewer = group user/Michael Kinney (mdkinney)
	submit = group user/Michael Kinney (mdkinney)
[access "refs/heads/*"]
	read = group user/Michael Kinney (mdkinney)
	create = group user/Michael Kinney (mdkinney)
	push = +force group user/Michael Kinney (mdkinney)
	pushMerge = group user/Michael Kinney (mdkinney)
[access "refs/tags/*"]
	push = group user/Michael Kinney (mdkinney)
	push = +force group user/Michael Kinney (mdkinney)
